<html> 
<head> 
    <div> <div style = 'text-align:center'>
        <b> <font color="red" size="7"> Linguaggi di programmazione: </font> </b> 
    </div>
</head> 
<body> 
    <body background = "https://www.fastweb.it/var/storage_feeds/CMS/articoli/1ff/1ffef3fab487508cf9d8405c70306c13/640x360.jpg" >
<ul> 
<!-- Loop per stampare tutti gli elementi della lista -->
{%for i in range(0, len)%} 
  
    <li> <font color="white" size="7"> {{Linguaggi[i]}} </font> </li> 
{%endfor%} 

</ul> 
</body> 
</html>
